#root {
  /* max-width: 1280px; */
  margin: 0;
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  display:block;
  margin:0;
}

main {
  overflow:hidden;
}


.scam-image {
  width:100%;
  position:relative;
  text-align:center;
  padding:50px 0;  
}

.scam-image > figure {
  font-size:0;
  position:relative;
  display: inline-block;
}

.scam-image::before {
  content:'';
  width:100%;
  height:100%;
  /* background:blue; */
  display: block;
  z-index:-1;
  position: absolute;
  top:0;
  left:0;
}

.scam-image figcaption { 
  display: block; 
  justify-content: center;
  font-size:16px;
  line-height:24px;
  margin-top:6px;
}

.scam-image .debug { 
  left:100%; top:0; font-size:10px; white-space: pre-wrap; position: absolute;
  text-align: left; display: block; width:400px;column-count: 2; height:100%;column-fill: auto;
  padding-left:25px;
}